<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycompany.mygym.comment.photo">
	<!-- [CommentPhoto] -->
	<resultMap id="commentPhotoResultMap"
		type="com.mycompany.mygym.comment.photo.vo.CommentPhoto">
		<result property="commentPnum" column="comment_pnum"
			jdbcType="BIGINT" javaType="java.lang.Long" />
		<result property="commentPdate" column="comment_pdate"
			jdbcType="DATE" javaType="java.sql.Date" />
		<result property="articlePnum" column="article_pnum"
			jdbcType="BIGINT" javaType="long" />
		<result property="userNickname" column="user_nickname"
			jdbcType="VARCHAR" javaType="java.lang.String" />
		<result property="commentPcontent" column="comment_pcontent"
			jdbcType="VARCHAR" javaType="java.lang.String" />
	</resultMap>

	<!-- [Create] -->
	<insert id="createComment"
		parameterType="com.mycompany.mygym.comment.photo.vo.CommentPhoto">
		INSERT INTO comment_photo (article_pnum, user_nickname,
		comment_pcontent)
		VALUES ( #{articlePnum}, #{userNickname},
		#{commentPcontent} )
	</insert>

	<!-- [Read] -->
	<select id="getComment" parameterType="java.lang.Long"
		resultMap="commentPhotoResultMap">
		SELECT comment_pnum , comment_pdate, user_nickname,
		comment_pcontent
		FROM comment_photo
		WHERE article_pnum = #{articlePnum};
	</select>

	<!-- [Read] -->
	<select id="getCommentById" parameterType="java.lang.Long"
		resultMap="commentPhotoResultMap">
		SELECT comment_pnum , comment_pdate, user_nickname,
		comment_pcontent
		FROM comment_photo
		WHERE article_pnum = #{articlePnum};
	</select>

	<!-- [Update] -->
	<update id="updateComment"
		parameterType="com.mycompany.mygym.comment.photo.vo.CommentPhoto">
		UPDATE comment_photo
		SET comment_pcontent = #{commentPcontent}
		WHERE comment_pnum = #{commentPnum}
	</update>

	<!-- [Delete] -->
	<delete id="deleteComment" parameterType="java.lang.Long">
		DELETE
		FROM comment_photo
		WHERE comment_pnum = #{commentPnum}
	</delete>
</mapper>